<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>employeeListPage</title>
</head>
<body>
  <div>
      <form action="/employees" class="form-inline">
          <div class="form-group mb-2">
              <input type="text" class="form-control" name="firstName" placeholder="Search" />
              <input type="Submit" value="Search" class="btn btn-primary" />
          </div>
      </form>
  </div>
  <div class="card">
    <div class="card card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nome: </th>
                <th>Cognome: </th>
                <th>Email: </th>
                <th>Codice Fiscale: </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee:${employees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.fiscalCode}"></td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>


</body>
</html>